#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* #root > div > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid magenta;
  justify-content: space-around;
}*/

.dashboard-charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3em 0;
}

.dashboard-charts > div {
  display: flex;
}

.dashboard-filters {
  display: flex;
  justify-content: space-between;
}
