.navigation ul,
.navigation li,
.navigation a {
  margin: 0;
  padding: 0;
}

.navigation li {
  display: block;
  padding: 0.3em;
  text-align: left;
  min-width: 5em;
  border: 1px solid rgba(0, 0, 0, 0);
}

.navigation li.navigation-user {
  padding: 0 0 0 1em;
  font-size: smaller;
}

.navigation li:hover {
  border-bottom: 1px solid gray;
}

.navigation li.selected {
  border-bottom: 1px solid gray;
}
